<div class="animated fadeInUp">
  <h2>Design Services</h2>
  <ul class="list-group">
    <li class="list-group-item">Web site cleanup and redesign</li>
    <li class="list-group-item">Basic logo designs</li>
    <li class="list-group-item">Print and digital ads (non-animated)</li>
    <li class="list-group-item">Newsletters (up to 12 pages)</li>
    <li class="list-group-item">Brochures, t-shirts, and other promotional material</li>
    <li class="list-group-item">Business cards and other print materiel</li>
  </ul>
  <button data-ng-click="openContactForm()" class="btn btn-sm btn-success">Contact Us</button>
</div>