<div class="animated fadeInUp">
  <h2>Video Services</h2>
  <ul class="list-group">
    <li class="list-group-item">Commercials (:15 - 2:00 in length)</li>
    <li class="list-group-item">Event and company promos</li>
    <li class="list-group-item">Training videos</li>
    <li class="list-group-item"><strong>Content Marketing </strong><br />Drive traffic to your site with testimonials, and other marketing content</li>
    <li class="list-group-item">Real Estate walkthroughs</li>
    <li class="list-group-item">Interviews and depositions</li>
    <li class="list-group-item">Informational videos</li>
  </ul>
  <button data-ng-click="openContactForm()" class="btn btn-sm btn-success">Contact Us</button>
</div>